# SPDX-FileCopyrightText: 2018-2024 Infineon Technologies AG
# SPDX-License-Identifier: MIT
# libusb
# Perso2Go Board
SUBSYSTEM=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6030", MODE="0666", ACTION=="add"